In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\shaha\Downloads\archive\india_travel_places.csv")

In [3]:
df

,Unnamed: 0,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit
0,0,Northern,Delhi,Delhi,India Gate,War Memorial,1921,0.5,4.6,0,Yes,NaN,Historical,Yes,2.60,Evening
1,1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,1572,2.0,4.5,30,Yes,NaN,Historical,Yes,0.40,Afternoon
2,2,Northern,Delhi,Delhi,Akshardham Temple,Temple,2005,5.0,4.6,60,Yes,NaN,Religious,No,0.40,Afternoon
3,3,Northern,Delhi,Delhi,Waste to Wonder Park,Theme Park,2019,2.0,4.1,50,Yes,Monday,Environmental,Yes,0.27,Evening
4,4,Northern,Delhi,Delhi,Jantar Mantar,Observatory,1724,2.0,4.2,15,Yes,NaN,Scientific,Yes,0.31,Morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,320,Western,Gujarat,Gandhinagar,Akshardham,Temple,1992,3.0,4.6,0,Yes,Monday,Religious,No,0.18,All
321,321,Central,Uttar Pradesh,Agra,Agra Fort,Fort,1565,2.0,4.5,40,Yes,NaN,Historical,Yes,1.30,Afternoon
322,322,Central,Madhya Pradesh,Bhopal,Madhya Pradesh Tribal Museum,Museum,2013,2.0,4.7,10,Yes,Monday,Cultural,Yes,0.15,All
323,323,Northern,Rajasthan,Jaipur,City Palace,Palace,1727,2.0,4.4,200,Yes,NaN,Historical,Yes,0.51,Morning
324,324,Northern,Rajasthan,Jaipur,Albert Hall Museum,Museum,1887,2.0,4.5,200,Yes,NaN,Historical,Yes,0.63,All

In [4]:
df_selected = df[[
    "City",
    "State",
    "Name",
    "Google review rating",
    "Number of google review in lakhs"
]]

In [5]:
df_selected = df_selected.rename(columns={
    "City": "city",
    "State": "state",
    "Name": "place",
    "Google review rating": "rating",
    "Number of google review in lakhs": "popularity"
})

In [6]:
df_selected.head()

    city  state                 place  rating  popularity
0  Delhi  Delhi            India Gate     4.6        2.60
1  Delhi  Delhi        Humayun's Tomb     4.5        0.40
2  Delhi  Delhi     Akshardham Temple     4.6        0.40
3  Delhi  Delhi  Waste to Wonder Park     4.1        0.27
4  Delhi  Delhi         Jantar Mantar     4.2        0.31

In [7]:
df_selected.isnull().sum()

city          0
state         0
place         0
rating        0
popularity    0
dtype: int64

In [8]:
df_selected = df_selected.dropna(subset=["rating", "popularity"])

In [9]:
df_selected["rating"] = df_selected["rating"].astype(float)
df_selected["popularity"] = df_selected["popularity"].astype(float)

In [10]:
df_selected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        325 non-null    object
 1   state       325 non-null    object
 2   place       325 non-null    object
 3   rating      325 non-null    float64
 4   popularity  325 non-null    float64
dtypes: float64(2), object(3)
memory usage: 12.8+ KB

In [11]:
def filter_by_source_city(df, source_city):
    filtered_df = df[df["city"].str.lower() != source_city.lower()].copy()
    return filtered_df
source_city = "Delhi"
filtered_df = filter_by_source_city(df_selected, source_city)
filtered_df.head()

,city,state,place,rating,popularity
16,Mumbai,Maharastra,Marine Drive,4.5,1.50
17,Mumbai,Maharastra,Gateway of India,4.6,3.60
18,Mumbai,Maharastra,Chhatrapati Shivaji Maharaj Vastu Sangrahalaya,4.6,0.34
19,Mumbai,Maharastra,Sanjay Gandhi National Park,4.3,0.60
20,Mumbai,Maharastra,Siddhivinayak Temple,4.8,1.05

In [12]:
filtered_df["rating_score"] = (
    filtered_df["rating"] / filtered_df["rating"].max()
)
filtered_df["popularity_score"] = (
    filtered_df["popularity"] / filtered_df["popularity"].max()
)
filtered_df.head()

,city,state,place,rating,popularity,rating_score,popularity_score
16,Mumbai,Maharastra,Marine Drive,4.5,1.50,0.918367,0.202703
17,Mumbai,Maharastra,Gateway of India,4.6,3.60,0.938776,0.486486
18,Mumbai,Maharastra,Chhatrapati Shivaji Maharaj Vastu Sangrahalaya,4.6,0.34,0.938776,0.045946
19,Mumbai,Maharastra,Sanjay Gandhi National Park,4.3,0.60,0.877551,0.081081
20,Mumbai,Maharastra,Siddhivinayak Temple,4.8,1.05,0.979592,0.141892

In [13]:
filtered_df["final_score"] = (
    0.6 * filtered_df["rating_score"] +
    0.4 * filtered_df["popularity_score"]
)

filtered_df.sort_values(
    by="final_score",
    ascending=False
).head(10)

,city,state,place,rating,popularity,rating_score,popularity_score,final_score
315,Greater Noida,Uttar Pradesh,Buddh International Circuit,4.6,7.40,0.938776,1.000000,0.963265
17,Mumbai,Maharastra,Gateway of India,4.6,3.60,0.938776,0.486486,0.757860
92,Amritsar,Punjab,Golden Temple (Harmandir Sahib),4.9,1.90,1.000000,0.256757,0.702703
111,Mysore,Karnataka,Mysore Palace,4.6,2.50,0.938776,0.337838,0.698400
306,Kedarnath,Uttarakhand,Kedarnath,4.8,2.00,0.979592,0.270270,0.695863
181,Agra,Uttar Pradesh,Taj Mahal,4.6,2.25,0.938776,0.304054,0.684887
296,Deoghar,Jharkhand,Baba Baidyanath Temple,4.7,1.80,0.959184,0.243243,0.672808
101,Wayanad,Kerala,Wayanad Wildlife Sanctuary,4.5,2.20,0.918367,0.297297,0.669939
86,Chittorgarh,Rajasthan,Chittorgarh Fort,4.6,1.90,0.938776,0.256757,0.665968
317,Kochi,Kerala,LuLu International Shopping Mall,4.6,1.90,0.938776,0.256757,0.665968

In [14]:
def weekend_getaway_recommender(df, source_city, top_n=5):
    filtered_df = df[
        df["city"].str.lower() != source_city.lower()
    ].copy()
    filtered_df["rating_score"] = (
        filtered_df["rating"] / filtered_df["rating"].max()
    )
    filtered_df["popularity_score"] = (
        filtered_df["popularity"] / filtered_df["popularity"].max()
    )
    filtered_df["final_score"] = (
        0.6 * filtered_df["rating_score"] +
        0.4 * filtered_df["popularity_score"]
    )

    return filtered_df.sort_values(
        by="final_score",
        ascending=False
    ).head(top_n)[[
        "city", "state", "place", "rating", "popularity", "final_score"
    ]]

In [15]:
weekend_getaway_recommender(df_selected, "Delhi", 5)

,city,state,place,rating,popularity,final_score
315,Greater Noida,Uttar Pradesh,Buddh International Circuit,4.6,7.4,0.963265
17,Mumbai,Maharastra,Gateway of India,4.6,3.6,0.757860
92,Amritsar,Punjab,Golden Temple (Harmandir Sahib),4.9,1.9,0.702703
111,Mysore,Karnataka,Mysore Palace,4.6,2.5,0.698400
306,Kedarnath,Uttarakhand,Kedarnath,4.8,2.0,0.695863